/* Extends */
.grid__index__item, .grid__pastas__item, .conocenos__locales, .conocenos__locales div, .grid__locales__item, .section__info__nosotros, .grid__contactanos__item, .botones__formulario, .card-body {
  display: flex;
  justify-content: center;
  align-items: center; }

/* Mixins */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Courier New', Courier, monospace; }

h1 {
  background-color: #ffff0099;
  width: fit-content;
  margin: 0 auto;
  color: #000;
  font-size: 40px;
  text-decoration: underline;
  border-radius: 20px;
  font-style: oblique;
  font-family: 'Pacifico', cursive; }

.navbar {
  width: 100%;
  background: #50505085; }

.collapse {
  display: flex;
  flex-direction: row;
  justify-content: end; }

.nav-item {
  padding-right: 40px; }

.nav-link {
  color: #ffff00;
  font-size: 15px;
  font-weight: bold; }
  .nav-link:hover {
    color: #ffcaca; }

.navbar-brand {
  color: #ffff00;
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px; }
  .navbar-brand:hover {
    color: #ffcaca; }

.body__index {
  background: url(../imagenes/banner.jpeg) no-repeat;
  background-color: #ffcaca;
  font-family: 'Roboto', sans-serif; }

.section0 {
  height: 155vh; }

.grid__index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 50px;
  padding: 20px;
  justify-content: center;
  align-content: center; }
  .grid__index__item {
    border-radius: 6px; }

.item__titulo {
  grid-column: 1/3; }

.h2__index {
  background-color: #fff;
  color: #ffcaca;
  width: fit-content;
  border-radius: 10px;
  font-size: 30px;
  border: solid 5px #000; }

.div__texto__index {
  background-color: #fff;
  height: 80%;
  width: 55%;
  border: solid 3px #000;
  border-radius: 10px; }

.texto1 {
  padding: 12px;
  width: fit-content;
  font-size: 14.5px;
  color: #000; }

.texto2 {
  padding: 12px;
  font-size: 14.5px;
  color: #000; }

.mapa__index {
  height: 300px;
  width: 500px; }

.carousel__index {
  display: flex;
  justify-content: center; }

#carouselExampleCaptions {
  height: 500px;
  width: 1000px; }

.carousel-inner img {
  height: 500px; }

.carousel-inner h5 {
  color: #000;
  background: #ffffff50;
  font-weight: bold;
  text-decoration: underline;
  font-size: 25px;
  border-radius: 30px; }

.carousel-inner p {
  color: #000;
  background: #ffffff50;
  font-weight: bold;
  font-size: 15px;
  border-radius: 30px; }

.footer__index {
  width: 100%;
  margin-top: 50px;
  background: #50505085;
  height: 100px;
  display: flex;
  border-top: solid 2px #000;
  justify-content: center; }
  .footer__index ul {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .footer__index ul li {
      list-style: none;
      padding-right: 250px;
      padding-left: 250px; }

@media screen and (max-width: 400px) {
  .body__index {
    background: none;
    background: #ffcaca;
    background: linear-gradient(90deg, #ffcaca 10%, white 75%); }
  h1 {
    font-size: 25px; }
  .section0 {
    height: 10vh; }
  .grid__index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px 5px;
    padding: 5px;
    justify-content: center;
    align-content: center; }
    .grid__index__item {
      border-radius: 6px; }
  .item__titulo {
    grid-column: auto; }
  .h2__index {
    font-size: 15px;
    border: solid 3px #000; }
  .div__texto__index {
    height: 250px;
    width: 250px;
    border: solid 2px #000; }
  .texto1 {
    padding: 11px;
    font-size: 12px; }
  .texto2 {
    padding: 11px;
    font-size: 12px; }
  .mapa__index {
    height: 200px;
    width: 300px; }
  .footer__index {
    width: 320px;
    margin-top: 20px; }
    .footer__index ul li {
      padding-right: 15px;
      padding-left: 15px; }
      .footer__index ul li a img {
        height: 40px; } }

.body__pastas {
  background: #ffcaca;
  background: linear-gradient(90deg, #ffcaca 10%, white 75%);
  font-family: 'Roboto', sans-serif; }

.grid__pastas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px 50px;
  padding: 0px 50px;
  justify-content: center;
  align-content: center;
  margin-bottom: 100px; }
  .grid__pastas__item {
    flex-direction: column; }
  .grid__pastas img {
    height: 400px;
    width: 400px;
    margin-top: 100px;
    border: solid 10px #000;
    background-color: #000;
    border-radius: 10px; }
  .grid__pastas p {
    margin-top: 10px;
    width: 300px;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold; }

.accordion-item {
  background: none; }

.accordion-button {
  background: #505050;
  color: #ffcaca; }

@media screen and (max-width: 400px) {
  .grid__pastas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px 50px;
    padding: 0px 50px;
    justify-content: center;
    align-content: center; }
    .grid__pastas img {
      height: 200px;
      width: 200px;
      border: solid 10px #000;
      background-color: #000;
      border-radius: 10px; }
    .grid__pastas p {
      margin-top: 10px;
      width: 150px;
      background-color: #fff;
      border: solid 1px #000;
      border-radius: 10px;
      padding: 5px;
      font-weight: bold;
      font-size: 10px; } }

.body__locales {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, #cdffff 10%, white 75%); }

.conocenos__locales {
  width: 100%;
  height: 100px; }
  .conocenos__locales div {
    margin-top: 100px;
    width: 300px;
    height: 100px;
    background: #ffcaca;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    transition: all 2s; }
    .conocenos__locales div:hover {
      width: 400px;
      height: 200px;
      font-size: 40px;
      margin-top: 125px; }

.section__locales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px; }

.div__locales {
  width: 100%;
  height: 0%;
  padding-left: 4%;
  padding-right: 4%; }

.img__locales {
  width: 600px;
  height: 400px;
  margin-top: 30px;
  border: dotted 10px #ffcaca; }

.h2__locales {
  background-color: #fff;
  color: #000;
  width: fit-content;
  border-radius: 10px;
  border: solid 3px #000;
  margin: 15px auto; }

.h3__locales {
  margin: 0 auto;
  background-color: #ffff00;
  border: solid 1px #000;
  border-radius: 10px;
  width: fit-content; }

.h3__horarios {
  width: fit-content;
  background-color: #fff;
  margin-top: 20px;
  border: solid 2px #000;
  border-radius: 10px;
  margin-left: 60px; }

.grid__locales {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center; }
  .grid__locales__item {
    border: solid 3px #000;
    border-radius: 3px; }

.grid__locales__itinerario {
  height: 85px;
  background-color: #ffcaca;
  font-weight: bold;
  font-size: 25px; }

.grid__locales__dias {
  height: 50px;
  background-color: #fff;
  font-style: italic; }

.grid__locales__telefono {
  margin-top: 20px;
  background-color: #ffff00;
  font-weight: bold; }

.mapa__locales {
  width: 600px;
  height: 200px;
  margin-top: 100px;
  margin-left: 10px; }

.boton__locales {
  height: 100px;
  width: 400px;
  font-size: 30px;
  border-radius: 20px; }

.modal__locales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px; }

@media screen and (max-width: 400px) {
  .mydiv__locales {
    width: 250px;
    height: 50px;
    font-size: 20px; }
  .mydiv__locales:hover {
    display: none; }
  .section__locales {
    flex-direction: column;
    height: 300vh;
    margin-top: 0px; }
  .div__locales {
    margin-top: 30px;
    width: 320px;
    height: 50%;
    padding-left: 0%;
    padding-right: 0%; }
  .img__locales {
    width: 320px;
    height: 250px;
    margin-top: 30px;
    border: dotted 10px #ffcaca; }
  .h2__locales {
    width: fit-content;
    background-color: #fff;
    border: solid 3px #000;
    border-radius: 10px;
    font-size: 15px; }
  .h3__locales {
    background-color: #ffff00;
    border: solid 1px #000;
    border-radius: 10px;
    width: fit-content;
    font-size: 10px; }
  .h3__horarios {
    width: fit-content;
    background-color: #fff;
    margin-top: 20px;
    border: solid 2px #000;
    border-radius: 10px;
    margin-left: 115px;
    font-size: 10px; }
  .grid__locales {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center; }
    .grid__locales__item {
      border: solid 3px #000;
      border-radius: 3px; }
  .grid__locales__itinerario {
    height: 85px;
    background-color: #ffcaca;
    font-weight: bold;
    font-size: 15px; }
  .grid__locales__dias {
    height: 50px;
    background-color: #fff;
    font-style: italic;
    font-size: 10px; }
  .grid__locales__telefono {
    margin-top: 20px;
    background-color: #ffff00;
    font-weight: bold;
    font-size: 10px; }
  .mapa__locales {
    width: 300px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px; }
  .boton__locales {
    height: 50px;
    width: 200px;
    font-size: 20px; } }

.body__nosotros {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(0deg, #fffaca 10%, #78a0ff 75%); }

.h2__nosotros {
  background-color: #fff;
  color: #000;
  width: fit-content;
  border-radius: 10px;
  border: solid 2px #000;
  text-decoration: underline;
  margin-top: 30px;
  margin-left: 15px; }

.section__info__nosotros {
  flex-direction: row;
  width: 100%; }

.div__nosotros {
  width: 600px;
  margin-top: 100px;
  background-color: #ffcaca70;
  border: solid 3px #000;
  border-radius: 10px;
  margin-right: 150px; }

.imagenes__nosotros {
  width: 600px;
  border: solid 10px #fff;
  background-color: #fff; }

.div__texto__nosotros {
  margin-top: 50px;
  width: 450px;
  margin-left: 70px;
  background-color: #ffffff99;
  border: solid 1px #ffff00;
  margin-bottom: 50px; }
  .div__texto__nosotros p {
    margin-bottom: 30px; }
  .div__texto__nosotros .p__nosotros__firma {
    font-size: 30px;
    font-weight: bold;
    font-style: italic; }

.div__nosotros__imagenes {
  width: 600px;
  margin-top: 100px; }

.canvas__nosotros {
  display: flex;
  justify-content: center;
  margin-top: 40px; }
  .canvas__nosotros .boton__canvas {
    height: 100px;
    width: 300px;
    font-size: 20px; }
  .canvas__nosotros img {
    height: 300px;
    width: 350px;
    padding-bottom: 20px; }

@media screen and (max-width: 400px) {
  .body__nosotros {
    background: #ffcaca;
    background: linear-gradient(90deg, #ffcaca 10%, white 75%); }
  .h2__nosotros {
    width: fit-content;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 10px;
    text-decoration: underline;
    margin-top: 30px;
    margin-left: 30px; }
  .section__info__nosotros {
    flex-direction: column;
    width: 320px; }
  .div__nosotros {
    width: 300px;
    margin-top: 100px;
    background-color: #ffcaca70;
    border: solid 3px #000;
    border-radius: 10px;
    margin-right: 0px; }
  .imagenes__nosotros {
    width: 300px;
    border: solid 10px #fff;
    background-color: #fff; }
  .div__texto__nosotros {
    margin-top: 50px;
    width: 280px;
    margin-left: 10px;
    background-color: #ffffff99;
    border: solid 1px #ffff00;
    margin-bottom: 30px;
    font-size: 15px; }
    .div__texto__nosotros p {
      margin-bottom: 30px; }
    .div__texto__nosotros .p__nosotros__firma {
      font-size: 20px;
      font-weight: bold;
      font-style: italic; }
  .div__nosotros__imagenes {
    width: 300px;
    margin-top: 50px; }
  .canvas__nosotros .boton__canvas {
    height: 75px;
    width: 250px;
    font-size: 20px; }
  .offcanvas-body img {
    width: 300px;
    padding-bottom: 10px; } }

.body__contactanos {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(0deg, #fff, #000); }

.grid__contactanos {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  justify-content: center;
  align-content: center; }
  .grid__contactanos__item {
    height: 300px; }

.h2__contactanos {
  background-color: #ffcaca99;
  color: #fff;
  width: 300px;
  border-radius: 5px;
  margin-top: 50px;
  border: solid 3px #fff; }

.formulario {
  background-color: #ffffff99;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  font-size: 20px;
  border: solid 5px #ffcaca;
  border-radius: 10px;
  width: 500px; }

.form__contactanos {
  width: 400px; }

.collapse__contactanos {
  display: flex;
  justify-content: center; }

.boton__contactanos {
  height: 100px;
  width: 400px;
  font-size: 30px; }

.card-body {
  height: 100px;
  font-size: 18px; }

.contenedor__cube {
  display: flex;
  justify-content: center; }

.cube {
  margin-top: 200px;
  margin-bottom: 200px;
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite; }
  .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }
    .cube div span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#000, #fff);
      transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
      /* 300/2=150 */ }

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg); }
  100% {
    transform: rotateX(-30deg) rotateY(360deg); } }

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #0a0a0a;
  transform: rotateX(90deg) translateZ(145px); }

.top:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #000;
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(255, 255, 255, 0.2), 0 0 120px rgba(255, 255, 255, 0.4), 0 0 120px rgba(255, 255, 255, 0.6), 0 0 120px rgba(255, 255, 255, 0.8), 0 0 120px #fbff00; }

@media screen and (max-width: 400px) {
  .fondo__contactanos {
    display: none; }
  .body__contactanos {
    background: linear-gradient(0deg, #fff, #000); }
  .grid__contactanos {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px;
    justify-content: center;
    align-content: center;
    margin-top: 50px; }
    .grid__contactanos__item {
      height: 150px;
      width: 320px; }
  .h2__contactanos {
    color: #fff;
    width: 200px;
    margin-top: 20px;
    background-color: #ffcaca99;
    border: solid 3px #fff;
    border-radius: 5px;
    font-size: 15px; }
  .formulario {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 13px;
    width: 300px; }
  .form__contactanos__divs {
    width: 100px; }
  .form__contactanos {
    width: 250px; }
  .collapse__contactanos {
    display: none; }
  .contenedor__cube {
    margin-top: 30px; }
  .cube {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    width: 100px;
    height: 100px; }
    .cube div span {
      transform: rotateY(calc(90deg * var(--i))) translateZ(49.5px); }
  .top {
    width: 100px;
    height: 100px;
    transform: rotateX(90deg) translateZ(50px); }
  .top:before {
    width: 100px;
    height: 100px;
    transform: translateZ(-150px); } }
