* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Courier New', Courier, monospace; }

h1 {
  background-color: #ffff0070;
  width: fit-content;
  margin: 0 auto;
  color: #000;
  font-size: 40px;
  text-decoration: underline;
  border-radius: 20px;
  font-style: oblique;
  font-family: 'Pacifico', cursive; }

.navbar {
  width: 100%;
  background: #50505085; }

.collapse {
  display: flex;
  flex-direction: row;
  justify-content: end; }

.nav-item {
  padding-right: 40px; }

.nav-link {
  color: #ffff00;
  font-size: 15px;
  font-weight: bold; }
  .nav-link:hover {
    color: #ffcaca; }

.navbar-brand {
  color: #ffff00;
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px; }
  .navbar-brand:hover {
    color: #ffcaca; }

.body__index {
  background: url(../imagenes/banner.jpeg) no-repeat;
  background-color: #ffcaca;
  font-family: 'Roboto', sans-serif; }

.section0 {
  height: 155vh; }

.grid__index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 50px;
  padding: 20px;
  justify-content: center;
  align-content: center; }
  .grid__index__item {
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center; }

.item__titulo {
  grid-column: 1/3; }

.h2__index {
  background-color: #fff;
  width: fit-content;
  color: #ffcaca;
  font-size: 30px;
  border: solid 5px #000;
  border-radius: 10px; }

.div__texto__index {
  background-color: #fff;
  height: 80%;
  width: 55%;
  border: solid 3px #000;
  border-radius: 10px; }

.texto1 {
  padding: 12px;
  width: fit-content;
  font-size: 14.5px;
  color: #000; }

.texto2 {
  padding: 12px;
  font-size: 14.5px;
  color: #000; }

.mapa__index {
  height: 300px;
  width: 500px; }

.carousel__index {
  display: flex;
  justify-content: center; }

#carouselExampleCaptions {
  height: 500px;
  width: 1000px; }

.carousel-inner img {
  height: 500px; }

.carousel-inner h5 {
  color: #000;
  background: #ffffff50;
  font-weight: bold;
  text-decoration: underline;
  font-size: 25px;
  border-radius: 30px; }

.carousel-inner p {
  color: #000;
  background: #ffffff50;
  font-weight: bold;
  font-size: 15px;
  border-radius: 30px; }

.footer__index {
  width: 100%;
  margin-top: 50px;
  background: #50505085;
  height: 100px;
  display: flex;
  border-top: solid 2px #000;
  justify-content: center; }
  .footer__index ul {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .footer__index ul li {
      list-style: none;
      padding-right: 250px;
      padding-left: 250px; }

@media screen and (max-width: 400px) {
  .body__index {
    background: none;
    background: #ffcaca;
    background: linear-gradient(90deg, #ffcaca 10%, white 75%); }
  h1 {
    font-size: 25px; }
  .section0 {
    height: 10vh; }
  .grid__index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px 5px;
    padding: 5px;
    justify-content: center;
    align-content: center; }
    .grid__index__item {
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .item__titulo {
    grid-column: auto; }
  .h2__index {
    font-size: 15px;
    border: solid 3px #000; }
  .div__texto__index {
    height: 250px;
    width: 250px;
    border: solid 2px #000; }
  .texto1 {
    padding: 11px;
    font-size: 12px; }
  .texto2 {
    padding: 11px;
    font-size: 12px; }
  .mapa__index {
    height: 200px;
    width: 300px; }
  .footer__index {
    width: 320px;
    margin-top: 20px; }
    .footer__index ul li {
      padding-right: 15px;
      padding-left: 15px; }
      .footer__index ul li a img {
        height: 40px; } }
