.body__contactanos{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(0deg, $color-claro, $color-oscuro);
}

.grid__contactanos{
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    justify-content: center;
    align-content: center;

    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
}

.h2__contactanos{
    color: $color-claro;
    width: 300px;
    margin-top: 50px;
    background-color: #ffcaca99;
    border: solid 3px $color-claro;
    border-radius: 5px;
}

.formulario{
    background-color: #ffffff99;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    border: solid 5px $color-principal;
    border-radius: 10px;
    width: 500px;
}

.form__contactanos{
    width: 400px;
}

.botones__formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapse__contactanos{
    display: flex;
    justify-content: center;
}

.boton__contactanos{
    height: 100px;
    width: 400px;
    font-size: 30px;
}

.card-body{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.contenedor__cube{
    display: flex;
    justify-content: center;
}

.cube{
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;

    div{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;

        span{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient($color-oscuro, $color-claro);
            transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
            /* 300/2=150 */
        }
    }
}

@keyframes animate{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgb(10, 10, 10);
    transform: rotateX(90deg) translateZ(145px);
}

.top:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #000;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 255, 255, 0.2),
    0 0 120px rgba(255, 255, 255, 0.4),
    0 0 120px rgba(255, 255, 255, 0.6),
    0 0 120px rgba(255, 255, 255, 0.8),
    0 0 120px rgba(251, 255, 0, 1);
}

@media screen and (max-width: 400px){
    .fondo__contactanos{
        display: none;
    }
    .body__contactanos{
        background: linear-gradient(0deg, $color-claro, $color-oscuro);
    }
    .grid__contactanos{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px;
        justify-content: center;
        align-content: center;
        margin-top: 50px;

        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            width: 320px;
        }
    }
    .h2__contactanos{
        color: $color-claro;
        width: 200px;
        margin-top: 20px;
        background-color: #ffcaca99;
        border: solid 3px $color-claro;
        border-radius: 5px;
        font-size: 15px;
    }
    .formulario{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        font-size: 13px;
        width: 300px;
    }
    .form__contactanos__divs{
        width: 100px;
    }
    .form__contactanos{
        width: 250px;
    }
    .collapse__contactanos{
        display: none;
    }
    .contenedor__cube{
        margin-top: 30px;
    }
    .cube{
        margin-top: 100px;
        margin-bottom: 100px;
        position: relative;
        width: 100px;
        height: 100px;

        div{
            span{
                transform: rotateY(calc(90deg * var(--i))) translateZ(49.5px);
            }
        }
    }
    .top{
        width: 100px;
        height: 100px;
        transform: rotateX(90deg) translateZ(50px);
    }
    .top:before{
        width: 100px;
        height: 100px;
        transform: translateZ(-150px);
    }
}