.body__index{
    background: url(../imagenes/banner.jpeg) no-repeat;
    background-color: $color-principal;
    font-family: 'Roboto', sans-serif;
}

.section0{
    height: 155vh;
}

.grid__index{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 50px;
    padding: 20px;

    justify-content: center;
    align-content: center;

    &__item{
        border-radius: 6px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.item__titulo{
    grid-column: 1/3;
}

.h2__index{
    background-color: $color-claro;
    width: fit-content;
    color: $color-principal;
    font-size: 30px;
    border: solid 5px $color-oscuro;
    border-radius: 10px;
}

.div__texto__index{
    background-color: $color-claro;
    height: 80%;
    width: 55%;
    border: solid 3px $color-oscuro;
    border-radius: 10px;
}

.texto1{
    padding: 12px;
    width: fit-content;
    font-size: 14.5px;
    color: $color-oscuro;
}

.texto2{
    padding: 12px;
    font-size: 14.5px;
    color: $color-oscuro;
}

.mapa__index{
    height: 300px;
    width: 500px;
}

.carousel__index{
    display: flex;
    justify-content: center;
}

#carouselExampleCaptions{
    height: 500px;
    width: 1000px;
}

.carousel-inner{
    img{
        height: 500px;
    }

    h5{
        color: $color-oscuro;
        background: #ffffff50;
        font-weight: bold;
        text-decoration: underline;
        font-size: 25px;
        border-radius: 30px;
    }

    p{
        color: $color-oscuro;
        background: #ffffff50;
        font-weight: bold;
        font-size: 15px;
        border-radius: 30px;
    }
}

.footer__index{
    width: 100%;
    margin-top: 50px;
    background: $color-header;
    height: 100px;
    display: flex;
    border-top: solid 2px $color-oscuro;
    justify-content: center;

    ul{
        display: flex;
        flex-direction: row;
        align-items: center;

        li{
            list-style: none;
            padding-right: 250px;
            padding-left: 250px;
        }
    }
}

@media screen and (max-width: 400px){
    .body__index{
        background: none;
        background: rgb(255,202,202);
        background: linear-gradient(90deg, rgba(255,202,202,1) 10%, rgba(255,255,255,1) 75%);
    }
    h1{
        font-size: 25px;
    }
    .section0{
        height: 10vh;
    }
    .grid__index{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px 5px;
        padding: 5px;
    
        justify-content: center;
        align-content: center;

        &__item{
            border-radius: 6px;
    
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .item__titulo{
        grid-column: auto;
    }
    .h2__index{
        font-size: 15px;
        border: solid 3px $color-oscuro;
    }
    .div__texto__index{
        height: 250px;
        width: 250px;
        border: solid 2px $color-oscuro;
    }
    .texto1{
        padding: 11px;
        font-size: 12px;
    }
    .texto2{
        padding: 11px;
        font-size: 12px;
    }
    .mapa__index{
        height: 200px;
        width: 300px;
    }
    .footer__index{
        width: 320px;
        margin-top: 20px;

        ul{
            li{
                padding-right: 15px;
                padding-left: 15px;

                a{
                    img{
                        height: 40px;
                    }
                }
            }
        }
    }
}