/* Extends */

%Flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Mixins */

@mixin titulo ($bgColor, $textColor){
    background-color: $bgColor;
    width: fit-content;
    margin: 0 auto;
    color: $textColor;
    text-decoration: underline;
    border-radius: 20px;
    font-style: oblique;
    font-family: 'Pacifico', cursive;
}

@mixin titulo2 ($bgColor, $textColor, $width, $borderRadius){
    background-color: $bgColor;
    color: $textColor;
    width: $width;
    border-radius: $borderRadius;
}